.wd-profile{
    border-radius: 50%;
    width:48px;
    height:48px;
}
.wd-textarea{
    color:#373b3e;
    background: black;
    width:100%;
    border-color:black ;
    border-bottom-color: #373b3e;

}

.wd-user-follow:hover{
    background-color: #373b3e;
}
.wd-grey{
    color: grey;
}
.wd-section{
    display: flex;
    width: 100%;
}
.wd-section-left{
    float: left;
    margin-left: 16px;

}
.wd-right{
    float: right;
    margin-left: auto;
    padding:12px 16px;
}
.wd-pic{
    object-fit: cover;
    width:100px;
    height:100px;
    border-radius: 10px;
    position: center;
}
.wd-img{
    width:100%;
}
.wd-img-title{
    color: white;
    position: absolute;
    left:10px;
    bottom:5px;
    font-size: 30px;
    font-weight: bold;
}
.nav-link.wd-nav-link-override2{
    color: rgb(110, 118, 125)!important;
    border-top:none!important;
    border-left:none!important;
    border-right: none !important;
    border-bottom: 1px solid rgb(47, 51, 54) !important;
    font-weight: bold;
    font-size: 15px;
    height: 3em;
}
.nav-link.wd-nav-link-override2:hover{
    background-color: rgb(23, 23, 23) !important;
}

.nav-link.wd-nav-link-override2.active{
    background-color: black!important;
    color: white!important;
    text-decoration: underline;
    text-decoration-color: rgb(29, 161, 242);
    text-underline-offset: 0.8em;
    text-decoration-thickness: 3px;
}
.nav-link.wd-nav-link-override2.active:hover{
    background-color: rgb(23,23,23) !important;
}
.wd-search>input[type=text]{
    background-color: #373b3e;
    border-radius: 50px;
    text-indent: 30px;
    width:90%;
    border: 2px solid rgb(23,23,23);
    height:2.5em;
    padding-left: 20px;
}

.wd-search>input[type=text]::placeholder{
    color:dimgrey;
}

.wd-search>input[type=text]:focus{
    outline: 2px solid rgb(29, 161, 242) !important;
}
.wd-search-div{
    width:100%;
    display:inline-flex;
    align-items: center;
}
.wd-gear{
    margin-left: 10%;
}
.fa-cog.wd-gear-icon{
    color:rgb(29, 161, 242);
    font-size: 20px;
}
.fa-search.wd-search-icon{
    color:dimgrey;
    font-size: 18px;
    padding-left: 20px;
    position: absolute;
}
.wd-img-container{
    position: relative;
    text-align: center;
}
.wd-center-border{
    border-left: solid 1px rgb(47, 51, 54);
    border-right:solid 1px rgb(47, 51, 54);
}
.wd-post{
    display: table-cell;
}
.wd-white{
    color: white;
}
.wd-border-pic{
    border-radius:13px;
    border-color:grey;
    border-width: 1px;
    border-style: solid;

}
.wd-news-pic{
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-color: grey;
    border-bottom-style: solid;
}
.wd-none-pic{
    width: 100%;
    border-radius: 13px;

}

.wd-blue{
    color:rgb(29, 161, 242);
    margin-left: 50px;
}

.wd-tweet{
    float: right;
    margin-left: auto;
}

.wd-tuit-list-pic{
    width: 100%;
    border-radius: 20px;
}